footer.main-footer
    .container
        .main-footer__top
            if (mainPage)
                a.main-footer__logo.interactive.logo.logo--footer DEVICE
            else
                a.main-footer__logo.interactive.logo.logo--footer(href='index.html') DEVICE
            ul.main-footer__login.login.login--footer
                if (logout)
                    li.login__item
                        a.interactive.login__link(href='#')
                            +icon('login__icon', 'user', 13, 12, {role: 'img'})
                            | Войти
                else
                    li.login__item
                        a.interactive.login__link(href='#')
                            +icon('login__icon', 'user', 13, 12, {role: 'img'})
                            | Валентин Петухов
                    li.login__item
                        a.login__link.login__link--logout(href='#') Выйти
            a.interactive.main-footer__compare.compare.compare--footer(href='#')
                +icon('compare__icon', 'compare', 10, 10, {role: 'img'})
                | Сравнить
            a.interactive.main-footer__cart.cart.cart--footer(href='#')
                +icon('cart__icon', 'cart', 12, 12, {role: 'img'})
                | Корзина
        .main-footer__middle
            p.main-footer__address г. Москва, ул. Строителей, 15
            ul.main-footer__navigation
                li.main-footer__navigation-item
                    a.main-footer__navigation-link.interactive(href='#') Доставка
                li.main-footer__navigation-item
                    a.main-footer__navigation-link.interactive(href='#') Гарантия
                li.main-footer__navigation-item
                    a.main-footer__navigation-link.interactive(href='#') Контакты
            a.main-footer__phone(href='tel:+7-495-495-95-95') Тел.: +7 (495) 495-95-95
        .main-footer__bottom
            +socialList('social', 'item', 'link', [
                        {link: '#', title: 'Мы в фейсбуке', id: 'fb', width: 32, height: 32},
                        {link: '#', title: 'Мы в Инстаграмме', id: 'inst', width: 32, height: 32},
                        {link: '#', title: 'Мы в Твитере', id: 'tw', width: 32, height: 32}])
            a.main-footer__author.interactive(href='#', aria-label='Сайт автора')
                +icon('main-footer__author-icon', 'logo-html', 26, 34, {role: 'img'})
