$white: #ffffff;
$black: #000000;

$text-color: #464646;

$acient: #f0c52e;

$header-background: #f7e296;
$block-background: #e5e5e5;
$footer-background: #464646;

$tablet-width: 768px;
$desctop-width: 1088px;
$mobile-width-only: 767px;